@model LIMS.Models.Reagent
@{
    ViewBag.Title = "Reagent details";
}

<h2>@ViewBag.Title</h2>
<div class="btn-group">
    @if (User.IsPrivileged())
    {
        @Html.ActionLink("Edit", "Edit", "Reagents", new { reagent = Model.ReagentId }, new { @class = "btn btn-primary" })
    }
    @if (User.IsAdmin())
    {
        @Html.ActionLink("Delete", "Delete", "Reagents", new { reagent = Model.ReagentId }, new { @class = "btn btn-danger" })
    }
</div>
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.ManufacturerCode)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.ManufacturerCode)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to reagents", "Index")
</p>
