@model LIMS.Models.LogsViewModel
@{
    ViewBag.Title = "Logs";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (Model.Entries != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Entries.First().User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Entries.First().Message)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Entries.First().Date)
                </th>
            </tr>
        </thead>

        @foreach (var result in Model.Entries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => result.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(m => result.Message)
                </td>
                <td>
                    @Html.DisplayFor(m => result.Date)
                </td>
            </tr>
        }
    </table>
}
