@model LIMS.Models.Test
@{
    ViewBag.Title = "Test details";
}

<h2>@ViewBag.Title</h2>
<div class="btn-group">
    @if (User.IsPrivileged())
    {
        @Html.ActionLink("Add Sample", "AddSample", "Tests", new { test = Model.TestId }, new { @class = "btn btn-success" })
        @Html.ActionLink("Edit", "Edit", new { test = Model.TestId }, new { @class = "btn btn-primary" })
    }
    @if (User.IsAdmin())
    {
        @Html.ActionLink("Delete", "Delete", new { test = Model.TestId }, new { @class = "btn btn-danger" })
    }
</div>
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.TestId)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.TestId)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-md-10">
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to tests", "Index")
</p>
