<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Centennial College LIMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            @Html.ActionLink("Centennial College LIMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsAdmin())
                        {
                            <li class="nav-item">@Html.ActionLink("Users", "Index", "Admin", null, new { @class = "nav-link" })</li>
                        }

                        if (User.IsPrivileged())
                        {
                            <li class="nav-item">@Html.ActionLink("Logs", "Index", "Logs", null, new { @class = "nav-link" })</li>
                        }

                        <li class="nav-item">@Html.ActionLink("Work Setup", "Index", "Labs", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Reagents", "Index", "Reagents", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Samples", "Index", "Samples", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Tests", "Index", "Tests", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - COMP231 Team 6</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

