@model LIMS.Models.Sample
@{
    ViewBag.Title = "Delete sample";
}

<h2>@ViewBag.Title</h2>
<h3>Are you sure you want to delete this sample?</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.TestId)
        </dt>
        <dd class="col-md-10">
            @Html.ActionLink(Model.TestId, "Details", "Tests", new { test = Model.TestId }, null)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>

<p>
    @Html.ActionLink("Back to samples", "Index")
</p>
