@model LIMS.Models.SamplesDetailsViewModel
@{
    ViewBag.Title = "Sample details";
}

<h2>@ViewBag.Title</h2>
<div class="btn-group">
    @if (User.IsPrivileged())
    {
        @Html.ActionLink("Edit", "Edit", "Samples", new { sample = Model.Sample.SampleId }, new { @class = "btn btn-primary" })
    }
    @if (User.IsAdmin())
    {
        @Html.ActionLink("Delete", "Delete", "Samples", new { sample = Model.Sample.SampleId }, new { @class = "btn btn-danger" })
    }
</div>
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Sample.Description)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Sample.Description)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Sample.AddedDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Sample.AddedDate)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Sample.Test)
        </dt>
        <dd class="col-md-10">
            @Html.ActionLink(Model.Sample.TestId, "Details", "Tests", new { test = Model.Sample.TestId }, null)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to samples", "Index")
</p>
