@model LIMS.Models.ApplicationUser

@{
    ViewBag.Title = "User details";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-md-2 col-form-label">Roles</dt>
        <dd class="col-md-10">
            <ul class="list-inline">
                @foreach (var item in ViewBag.RoleNames)
                {
                    <li>
                        <span class="badge badge-primary">
                            @item
                        </span>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to users", "Index")
</p>
