@model LIMS.Models.Lab

@{
    ViewBag.Title = "Delete lab";
}

<h2>@ViewBag.Title</h2>
<h3>Are you sure you want to delete this lab?</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.CollegeName)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.CollegeName)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.TestId)
        </dt>
        <dd class="col-md-10">
            @Html.ActionLink(Model.TestId, "Details", "Tests", new { test = Model.TestId }, null)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>

<p>
    @Html.ActionLink("Back to work setup", "Index")
</p>
