@model LIMS.Models.LabsSearchViewModel

@{
    ViewBag.Title = "Work Setup";
}

<h2>@ViewBag.Title</h2>

@if (User.IsPrivileged())
{
    <span class="btn-group">
        @Html.ActionLink("Create new", "Create", "Labs", null, new { @class = "btn btn-success" })
    </span>
}

<hr />

@using (Html.BeginForm("Index", "Labs", FormMethod.Get, new { @class = "form-group" }))
{
    <div class="input-group">
        @Html.TextBoxFor(m => m.Query, new { @class = "form-control", placeholder = "Course Code" })
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

@if (Model.Results != null && Model.Results.Count == 0)
{
    <div class="alert alert-info">
        No labs matched the course or test code provided.
    </div>
}
else if (Model.Results != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Results.First().CollegeName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Results.First().CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Results.First().FacultyName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Results.First().WeekNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Results.First().TestId)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Results.First().Location)
                </th>
                <th class="w-25">
                    Operations
                </th>
            </tr>
        </thead>

        @foreach (var result in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => result.CollegeName)
                </td>
                <td>
                    @Html.DisplayFor(m => result.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(m => result.FacultyName)
                </td>
                <td>
                    @Html.DisplayFor(m => result.WeekNumber)
                </td>
                <td>
                    @Html.ActionLink(result.TestId, "Details", "Tests", new { test = result.TestId }, null)
                </td>
                <td>
                    @Html.DisplayFor(m => result.Location)
                </td>
                <td>
                    <div class="btn-group">
                        @if (result.IsMember)
                        {
                            @Html.ActionLink("Open", "Details", "Labs", new { lab = result.LabId }, new { @class = "btn btn-secondary" })
                        }

                        @if (User.IsPrivileged())
                        {
                            @Html.ActionLink("View Report", "Report", "Labs", new { lab = result.LabId }, new { @class = "btn btn-warning" })
                        }

                        @if (User.IsAdmin())
                        {
                            @Html.ActionLink("Delete", "Delete", "Labs", new { lab = result.LabId }, new { @class = "btn btn-danger" })
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
}
