@model LIMS.Models.LabsRemoveSampleViewModel
@{
    ViewBag.Title = "Remove sample from lab";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @using (Html.BeginForm("PostRemoveSample", "Labs", new { lab = Model.Lab.LabId, sample = Model.LabSample.SampleId }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })

        <dl class="row">
            <dt class="col-md-2 col-form-label">
                @Html.DisplayNameFor(model => model.LabSample.Sample.Description)
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.LabSample.Sample.Description)
            </dd>
            <dt class="col-md-2 col-form-label">
                @Html.DisplayNameFor(model => model.LabSample.Sample.AddedDate)
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.LabSample.Sample.AddedDate)
            </dd>
            <dt class="col-md-2 col-form-label">
                @Html.DisplayNameFor(model => model.LabSample.AssignedDate)
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.LabSample.AssignedDate)
            </dd>
            <dt class="col-md-2 col-form-label">
                @Html.DisplayNameFor(model => model.LabSample.Notes)
            </dt>
            <dd class="col-md-10">
                <pre>@Html.DisplayFor(model => model.LabSample.Notes)</pre>
            </dd>
        </dl>

        @Html.ActionLink("Cancel", "Samples", new { lab = Model.Lab.LabId }, new { @class = "btn btn-secondary" })
        <input type="submit" value="Remove" class="btn btn-danger" />
    }
</div>
