@using LIMS.Models
@model LIMS.Models.LabsSampleDetailsViewModel
@{
    ViewBag.Title = "Lab sample details";
}

<h2>@ViewBag.Title</h2>
@if (Model.IsLabManager)
{
    <div class="btn-group">
        @Html.ActionLink("Edit", "EditSample", new { lab = Model.LabSample.LabId, sample = Model.LabSample.SampleId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Remove", "RemoveSample", new { lab = Model.LabSample.LabId, sample = Model.LabSample.SampleId }, new { @class = "btn btn-danger" })
    </div>
}
<hr />

<div>
    <dl class="row">
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.LabSample.Sample.Description)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.LabSample.Sample.Description)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.LabSample.Status)
        </dt>
        <dd class="col-md-10">
            @Html.Partial("_LabSampleStatus", Model.LabSample.Status)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.LabSample.Sample.AddedDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.LabSample.Sample.AddedDate)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.LabSample.AssignedDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.LabSample.AssignedDate)
        </dd>
        <dt class="col-md-2 col-form-label">
            @Html.DisplayNameFor(model => model.LabSample.Notes)
        </dt>
        <dd class="col-md-10">
            <pre>@Html.DisplayFor(model => model.LabSample.Notes)</pre>
        </dd>
    </dl>
</div>

<div>
    <h3>Comments</h3>
    <hr />

    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        <ul class="p-0 mb-3">
            @foreach (var r in Model.Comments)
            {
                <li class="mb-3 card">
                    <div class="card-header">
                        @Html.Partial("_LabMember", r)
                        <small>@Html.DisplayFor(m => r.Comment.Date)</small>
                    </div>
                    <div class="card-body">
                        @if (r.Comment.Message != null)
                        {
                            @r.Comment.Message
                        }
                        
                        @if (r.Comment.NewStatus.HasValue)
                        {
                            <div class="text-muted">
                                <em>Changed status to </em>
                                @Html.Partial("_LabSampleStatus", r.Comment.NewStatus)
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            There are no comments on this lab sample yet.
        </div>
    }

    @using (Html.BeginForm("SamplePostComment", "Labs", new { lab = Model.LabSample.LabId, sample = Model.LabSample.SampleId }))
    {
        @Html.AntiForgeryToken()
        
        <div style="margin-bottom: 12px">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Comment" })
            @Html.ValidationSummary(null, new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4 btn-group">
                    <button type="submit" class="btn btn-primary" name="SelectedButton" value="0">Post</button>
                </div>

                @if (Model.IsLabManager)
                {
                    <div class="col-md-8">
                        <div class="btn-group float-right">
                            @if (Model.LabSample.Status != LabSampleStatus.InProgress)
                            {
                                <button type="submit" class="btn btn-warning" name="SelectedButton" value="1">In Progress</button>
                            }
                            @if (Model.LabSample.Status != LabSampleStatus.Approved)
                            {
                                <button type="submit" class="btn btn-success" name="SelectedButton" value="2">Approve</button>
                            }
                            @if (Model.LabSample.Status != LabSampleStatus.Rejected)
                            {
                                <button type="submit" class="btn btn-danger" name="SelectedButton" value="3">Reject</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Back to lab samples", "Samples", new { lab = Model.LabSample.LabId })
</p>
